.terraform
.terraform.lock.hcl
.terraform/*
..gitignore.swp
firstkeyaws.pem
./*
./aws/*
/awscliv2.zip
terraform.tfstate.backup
aws/*
awscliv2.zip
Backend_config/.terraform/*
Backend_config/.terraform.locl.hcl
